.App {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: 40px calc(100vh - 40px);
  grid-template-areas:
    'nav nav'
    'list reader';
}
.Nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.List {
  grid-area: list;
  overflow: scroll;
  border-top: 1px solid #eee;
}
.Reader {
  grid-area: reader;
  overflow: scroll;
  background-color: #efefef;
  scroll-behavior: smooth;
  position: relative;
}


/*********** Nav ***********/
.navLeft {
  min-width: 360px;
  max-width: 360px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.NavBtn {
  padding: 4px 10px;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 4px;
  outline: none;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  transition: all 200ms ease 0ms;
}

.NavBtn:hover, .NavBtn:active, .NavCurrent {
  cursor: pointer;
  background-color: #008af6;
  color: #fff;
  border-color: #008af6;
}


.navRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.siteTitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  margin-right: 15px;
}

.uiControls {
  display: flex;
  align-items: center;
  position: relative;
}

.uiMenuBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.075);
  transition: opacity 200ms ease 0ms, z-index 200ms ease 0ms;
}

.uiMenu {
  z-index: 20;
  position: absolute;
  display: block;
  top: 40px;
  left: 10px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  transition: opacity 200ms ease 0ms, box-shadow 200ms ease 0ms;
}

.uiMenuInner {
  margin: 10px 20px;
}

.uiOptionWrapper {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #efefef;
}

.uiOptionWrapper:first-of-type {
  margin: 0 0 25px 0;
}

.uiOptionWrapper:last-of-type {
  border-bottom: none;
}

.uiMenu label {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.6);
}

.uiBtn {
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-size: 20pt;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #efefef;
  border-radius: 4px;
  outline: none;
  margin: 5px 10px 0 0;
  transition: background-color 200ms ease 0ms;
}

.uiBtn:hover {
  background-color: rgba(0,0,0,0.08);
}

.uiBtn:active {
  background-color: rgba(0,0,0,0.12);
}

select {
  margin-top: 6px;
  width: 150px;
  height: 30px;
  font-size: 11pt;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

option {
  font-family: 'Open Sans', sans-serif;
}

.uiMenuBtn {
  padding: 4px;
  margin: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.gearIcn {
  fill: #bbbbbb;
  transition: fill 200ms ease 0ms;
}

.uiMenuBtn:hover .gearIcn, .uiMenuBtn:active .gearIcn {
  fill: #000;
}



/*********** List ***********/
/*** Loading Animation ***/
.Loading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.loadRing {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loadRing:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #008af6;
  border-color: #008af6 transparent #008af6 transparent;
  animation: loadRing 1.2s linear infinite;
}
.loadRingSm {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.loadRingSm:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #008af6;
  border-color: #008af6 transparent #008af6 transparent;
  animation: loadRing 1.2s linear infinite;
}
@keyframes loadRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*** List Item ***/
.articleList {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.ListItem {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  height: 80px;
  background-color: white;
  border-left: 1px solid rgba(0,0,0,0.08);
  border-right: 1px solid rgba(0,0,0,0.08);
  border-bottom: 1px solid rgba(0,0,0,0.08);
  border-radius: 0;
  transition: all 200ms ease 0ms;
}


.ListItem:first-of-type {
  margin-top: 10px;
  border-top: 1px solid rgba(0,0,0,0.08);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.ListItem:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ListItem:hover {
  z-index: 2;
  border-color: #efefef;
  background-color: #efefef;
}
.ListItem:active {
   background-color: rgba(0,170,255,0.15);
}

.ListItemReading {
  background-color: rgba(0,170,255,0.15);
}
.ListItemReading:hover, .ListItemReading:active {
  background-color: rgba(0,170,255,0.15);
}


.listBtn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  outline: none;
}
.listBtn:hover, .listBtn:active {
  cursor: pointer;
}

.listItemTitle {
  font-weight: 500;
  font-size: 13pt;
  position: absolute;
  top: 10px;
  padding: 0;
  margin: 0 10px 0 0;
}

.listInfo {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 9pt;
  color: #a1a1a1;
  position: absolute;
  bottom: 5px;
}

.listHost {
  font-size: 9pt;
  color: #a1a1a1;
  text-decoration: none;
}

.listHost:hover, .listHost:active {
  color: #008af6;
  text-decoration: underline;
}

.listHost:visited {
  color: #a568e5;
  text-decoration: underline;
}

.infoLeftBottom{
  margin-top: 5px;
}

.infoLeft {
  max-width: 220px;
}

.infoRight {
  display: flex;
  flex-flow: row nowrap;
}

.infoTime {
  margin: 0 0 0 8px;
}

.infoDivider {
  margin: 0 12px;
}

.ptsSpan {
  width: 60px;
  text-align: end;
}

/*** Load More Btn ***/
.loadMoreCont {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadArrow {
  fill: #bbbbbb;
  transition: fill 200ms ease 0ms;
}
.loadArrow:hover, .loadArrow:active {
  fill: #000;
}

.loadMoreBtn {
  background-color: transparent;
  border: none;
  outline: none;

}

.loadMoreBtn:hover, .loadMoreBtn:active {
  cursor: pointer;
}



/*********** Reader ***********/
.noLoadMsg {
  font-size: 16pt;
  color: #ababab;
}

.articleBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  transition: opacity 300ms ease 0ms, z-index 300ms ease 0ms;
}

.Article {
  z-index: 10;
  background-color: #ffffff;
  text-align: center;
  width: 90%;
  max-width: 1100px;
  min-height: 30%;
  border-radius: 6px;
  margin: 14px auto;
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

.articleInner {
  padding: 20px 40px;
}

.ArticleHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  font-size: 11pt;
}

.ArticleHeader p {
  color: #666;
  padding: 0;
  margin: 0 30px 0 0;
}

.ArticleHeader a {
  color: #666;
  padding: 0;
  text-decoration: none;
}

.ArticleHeader a:hover, .ArticleHeader a:active,
.ArticleBody a:hover, .ArticleBody a:active {
  color: #008af6;
  text-decoration: underline;
}

.ArticleHeader a:visited {
  color: #a568e5;
}

.articleTitle {
  font-size: 22pt;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}

.ArticleBody {
  text-align: left;
  padding: 0 8%;
  color: rgba(0,0,0,0.87);
}

.ArticleBody p {
  line-height: 1.7;
}

.ArticleBody a {
  color: #6a6a6a;
  text-decoration: underline;
}

.ArticleBody img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

code {
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 4px;
}


/*** Comment Section ***/
.commentJump {
  margin: 10px 5%;
}

.jumpText, .jumpText:visited {
  color: #6a6a6a;
}

.jumpText:hover {
  color: #008af6;
}

.CommentSection {
  padding-top: 10px;
  margin: 40px 5%  0 calc(5% - 40px);
  font-size: 10pt;
}

.CommentList {
  margin-left: 40px;
}

.Comment {
  margin: 20px 0;
  padding-left: 12px;
  border-left-style: solid;
  border-left-width: 2px;
}

.commentText {
  padding: 0;
  margin: 5px 0 0 0;
}

.commentHeader {
  color: #a0a0a0;
}

.childrenVisBtn {
  color: #a0a0a0;
  font-family: 'Roboto Mono', monospace;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.childrenVisBtn:hover {
  color: #000;
}

.commentTime {
  margin: 0 10px;
}

.commentDepth1, .commentDepth7 {
  /* border-color: #DE4646; */
  border-color: #565BAF;
}
.commentDepth2, .commentDepth8 {
  /* border-color:  #FF5349; */
   border-color: #52AFE6;
}
.commentDepth3, .commentDepth9 {
  /* border-color:  #FEF65C; */
   border-color: #A5CB43;
}
.commentDepth4, .commentDepth10 {
  /* border-color: #FFD309; */
  border-color:  #F4DC39;
}
.commentDepth5 {
  /* border-color: #4F86F7; */
   border-color:  #F0AD28;
}
.commentDepth6 {
  /* border-color: #446CCF; */
  border-color: #F65247;
}