.App {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: 40px calc(100vh - 40px);
  grid-template-areas:
    'nav nav'
    'list reader';
}
.Nav {
  z-index: 11;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.List {
  z-index: 10;
  grid-area: list;
  overflow: scroll;
  border-top: 1px solid #eee;
}
.Reader {
  grid-area: reader;
  overflow: scroll;
  background-color: #efefef;
}


/*********** Nav ***********/
.navBtnCont {
  width: 360px;
  display: flex;
  justify-content: space-around;
}

.NavBtn {
  padding: 4px 10px;
  background-color: #fff;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  border-radius: 2px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  transition: all 200ms ease 0ms;
}

.NavBtn:hover, .NavBtn:active, .NavCurrent {
  cursor: pointer;
  background-color: #008af6;
  color: #fff;
  border-color: #008af6;
}

.navLeft {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 11;
}

.navRight {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 1px 1px 0 rgba(0,0,0,0.14), 2px 2px 1px 0 rgba(0,0,0,0.12), 2px 1px 3px 0 rgba(0,0,0,0.20); */
}

.navGear {
  fill: #bbb;
  transition: fill 200ms ease 0ms;
}

.navGear:hover {
  fill: #000;
  cursor: pointer;
}

.gearBtn {
  background-color: transparent;
  border: none;
  width: 17px;
  height: 17px;
  margin: 0 0 0 12px;
  padding: 0;
  outline: none;
}

.siteTitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  font-weight: 700;
  margin-right: 15px;
}


/*********** List ***********/
/*** Loading Animation ***/
.Loading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.loadRing {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loadRing:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #bbb;
  border-color: #bbb transparent #bbb transparent;
  animation: loadRing 1.2s linear infinite;
}
.loadRingSm {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.loadRingSm:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #bbb;
  border-color: #bbb transparent #bbb transparent;
  animation: loadRing 1.2s linear infinite;
}
@keyframes loadRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*** List Item ***/
.articleList {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.ListItem {
  position: relative;
  width: 90%;
  margin: 14px auto;
  padding: 10px;
  height: 80px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  transition: all 200ms ease 0ms;
}

.ListItem:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.listBtn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  outline: none;
}
.listBtn:hover, .listBtn:active {
  cursor: pointer;
}

.listItemTitle {
  font-weight: 500;
  font-size: 13pt;
  position: absolute;
  top: 10px;
  padding: 0;
  margin: 0 10px 0 0;
}

.listInfo {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 9pt;
  color: #a1a1a1;
  position: absolute;
  bottom: 5px;
}

.listHost {
  font-size: 9pt;
  color: #a1a1a1;
  text-decoration: none;
}

.listHost:hover, .listHost:active {
  color: #008af6;
  text-decoration: underline;
}

.listHost:visited {
  color: #a568e5;
  text-decoration: underline;
}

.infoLeftBottom{
  margin-top: 5px;
}

.infoLeft {
  max-width: 220px;
}

.infoRight {
  display: flex;
  flex-flow: row nowrap;
}

.infoTime {
  margin: 0 0 0 8px;
}

.infoDivider {
  margin: 0 12px;
}

.ptsSpan {
  width: 60px;
  text-align: end;
}

/*** Load More Btn ***/
.loadMoreCont {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadArrow {
  fill: #bbbbbb;
  transition: fill 200ms ease 0ms;
}
.loadArrow:hover, .loadArrow:active {
  fill: #000;
}

.loadMoreBtn {
  background-color: transparent;
  border: none;
  outline: none;

}

.loadMoreBtn:hover, .loadMoreBtn:active {
  cursor: pointer;
}



/*********** Reader ***********/
.noLoadMsg {
  font-size: 16pt;
  color: #ababab;
}

.Article {
  background-color: #ffffff;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  min-height: calc(100% - 30px);
  border-radius: 6px;
  margin: 15px auto;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

.articleInner {
  padding: 20px 40px;
}

.articleTitle {
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 22pt;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}

.articleMeta {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.articleMeta p {
  color: #666;
  padding: 0;
  margin: 0 30px 0 0;
}

.articleMeta a {
  color: #666;
  padding: 0;
  text-decoration: none;
}

.articleMeta a:hover, .articleMeta a:active,
.articleContent a:hover, .articleContent a:active {
  color: #008af6;
  text-decoration: underline;
}

.articleMeta a:visited {
  color: #a568e5;
}

.articleContent {
  text-align: left;
  padding: 0 70px;
  /* font-family: 'Crimson Text', serif; */
  color: rgba(0,0,0,0.87);
}

.articleContent p {
  line-height: 1.7;
}

.articleContent a {
  color: #6a6a6a;
  text-decoration: underline;
}

.articleContent img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

code {
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 4px;
}




/* img {
  font-weight: 100;
  font-size: 9pt;
  color: #ababab;
  display: block;
  position: relative;
}

img:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
}

img:after {
  content: "Broken Image";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */